<!DOCTYPE html>

<html>
<head>
	<!-- This is a comment -->

	<title>CalgaryCommunityHousingMap</title>

	<!-- Link Bootstrap -->
	<!-- Instead of creating a new stylesheet, using Bootstrap Stylesheet Properties -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"


	<!-- Content for Mapbox and Turf -->
	<link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
	<script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
	<script src='https://unpkg.com/@turf/turf@6.3.0/turf.min.js'></script>

</head>

<!-- Set up Quick Style -->
<style>

#map-container {
    position: relative;
    height: 600px;
    width: 100%;
}

#map {
    position: relative;
    height: inherit;
    width: inherit;
}

h3 {
	  text-align: center;
}

</style>

<body class="border border-5 border-info m-3 pb-3 shadow">

	<!-- Creating a break in the page -->
	<table class="mx-auto w-auto" style="height: 25px;"> </table>

	<!-- Image under creative commons liscence -->
	<!-- Link Credit: https://www.google.com/url?sa=i&url=https%3A%2F%2Fopenclipart.org%2Fdetail%2F275845%2Fsimple-house-line-art&psig=AOvVaw1Qmy06dvnan0TrPJJgs3-H&ust=1617918553823000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPDMv_-O7e8CFQAAAAAdAAAAABAD -->
	<div style="text-align:center">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6p0ARtRpeZDeiwNm6XOqvEXUev0lwBohBuQ&usqp=CAU" width="25%">
	</div>


	<h1 class="font-weight-bold" style="text-align:center" id="TopOfPage">Calgary Community Housing Map</h1>

	<!-- Creating a break in the page -->
	<table class="mx-auto w-auto" style="height: 50px;">
	</table>

	<div style="text-align:center">
		<h3><b> Access The Full Search Calgary Community Housing Map Below</b></h3>
	</div>

	<!-- Creating a break in the page -->
	<table class="mx-auto w-auto" style="height: 50px;">
	</table>


	<!-- ******* Start Map Information ******* -->

<form method="POST" action="{{ url_for('calgarycommunityhousingmap')}}">
	<div class="form-group">
            <select class="form-control" name="community">
                  <option value="" disabled selected>Select a Community</option>
									{% for community in communities %}
  									<option>{{community}}</option>
									{% endfor %}
            </select>
						<button class="btn btn-primary"> Submit </button>
    </div>
</form>

{% if selectedcommunity is not none %}
<h3> The average residential property value in {{selectedcommunity}} is ${{value}}</h3>
{% endif %}


	<!-- Creating a break in the page -->
	<table class="mx-auto w-auto" style="height: 50px;"></table>



	<!-- Set Up Map Paramaters -->
	<div style="outline: 4px solid #17a2b8">
		<!-- Create Div for Map -->
		<div id="map-container">
	  		<div id="map">
	 		 </div>
		</div>
	</div> <!-- End of border div -->


	<!-- Mapbox script -->
	<script>

		mapboxgl.accessToken = 'pk.eyJ1IjoidGhlZ21hbm4iLCJhIjoiY2tsendrbzc2MW44bTJucGIwcGthajVvZCJ9.Oma0SwAX6kXvnw_T66TXHQ';
		var map = new mapboxgl.Map({
		  container: 'map',
		  style: 'mapbox://styles/mapbox/light-v10',
		<!-- Calgary Coordinates 51.0447, -114.0719 -->
		  center: [-114.0719, 51.0447],
		  zoom: 10
		});


// COMMUNITY BOUNDARY
var bound={{bound|tojson}};

		map.on('load', function () {
	// Add a data source containing GeoJSON data.
	map.addSource('communities', {
	'type': 'geojson',
	'data': bound[0]
	});

	// Add a new layer to visualize the polygon.
	map.addLayer({
	'id': 'fill',
	'type': 'fill',
	'source': 'communities', // reference the data source
	'layout': {},
	'paint': {
	'fill-color': '#0080ff', // blue color fill
	'fill-opacity': 0.5
	}
	});
	// Add a black outline around the polygon.
	map.addLayer({
	'id': 'outline',
	'type': 'line',
	'source': 'communities',
	'layout': {},
	'paint': {
	'line-color': '#000',
	'line-width': 3
	}
	});

// CENTROID OF COMMUNITY
cent=turf.centerOfMass(bound[0])


// NEAREST POLICE STATION
var polstations={{polstations|tojson}};
nearestpolice=turf.nearestPoint(cent, polstations[0])
map.addSource('police', {
	'type': 'geojson',
	'data': nearestpolice
});

map.addLayer({
'id': 'police',
'type': 'symbol',
'source': 'police',
layout: {
	'icon-image': 'police-15',
},
paint: { }
});

map.on('click', 'police', function (e) {
var coordinates = e.features[0].geometry.coordinates.slice();
var description = e.features[0].properties.name;


while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
}

new mapboxgl.Popup()
.setLngLat(coordinates)
.setHTML(description)
.addTo(map);
});

map.on('mouseenter', 'police', function () {
map.getCanvas().style.cursor = 'pointer';
});

map.on('mouseleave', 'police', function () {
map.getCanvas().style.cursor = '';
});



// NEAREST FIRE STATION
var firestations={{firestations|tojson}};
nearestfire=turf.nearestPoint(cent, firestations[0])
map.addSource('fire', {
	'type': 'geojson',
	'data': nearestfire
});

map.addLayer({
'id': 'fire',
'type': 'symbol',
'source': 'fire',
layout: {
	'icon-image': 'fire-station-15',
},
paint: { }
});

map.on('click', 'fire', function (e) {
var coordinates = e.features[0].geometry.coordinates.slice();
var description = e.features[0].properties.name;


while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
}

new mapboxgl.Popup()
.setLngLat(coordinates)
.setHTML(description)
.addTo(map);
});

map.on('mouseenter', 'fire', function () {
map.getCanvas().style.cursor = 'pointer';
});

map.on('mouseleave', 'fire', function () {
map.getCanvas().style.cursor = '';
});


var emsstations={{ems|tojson}};
nearestems=turf.nearestPoint(cent, emsstations[0])
map.addSource('ems', {
	'type': 'geojson',
	'data': nearestems
});

map.addLayer({
'id': 'ems',
'type': 'symbol',
'source': 'ems',
layout: {
	'icon-image': 'hospital-15',
},
paint: { }
});

map.on('click', 'ems', function (e) {
var coordinates = e.features[0].geometry.coordinates.slice();
var description = e.features[0].properties.name;


while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
}

new mapboxgl.Popup()
.setLngLat(coordinates)
.setHTML(description)
.addTo(map);
});

map.on('mouseenter', 'ems', function () {
map.getCanvas().style.cursor = 'pointer';
});

map.on('mouseleave', 'ems', function () {
map.getCanvas().style.cursor = '';
});

var hospitals={{h|tojson}};
nearesthosp=turf.nearestPoint(cent, hospitals[0])
map.addSource('hospital', {
	'type': 'geojson',
	'data': nearesthosp
});

map.addLayer({
'id': 'hospital',
'type': 'symbol',
'source': 'hospital',
layout: {
	'icon-image': 'doctor-15',
},
paint: { }
});

map.on('click', 'hospital', function (e) {
var coordinates = e.features[0].geometry.coordinates.slice();
var description = e.features[0].properties.name;


while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
}

new mapboxgl.Popup()
.setLngLat(coordinates)
.setHTML(description)
.addTo(map);
});

map.on('mouseenter', 'hospital', function () {
map.getCanvas().style.cursor = 'pointer';
});

map.on('mouseleave', 'hospital', function () {
map.getCanvas().style.cursor = '';
});

var p={{p|tojson}};
var parks=p[0]
var features=[]
for (var i = 0; i < parks.features.length; i++)
{
features.push(turf.centerOfMass(parks.features[i]))
}
parkcollection=turf.featureCollection(features)
parksincomm=turf.pointsWithinPolygon(parkcollection, bound[0])

map.addSource('parks', {
'type': 'geojson',
'data': parksincomm
});

// Add a new layer to visualize the symbol.
map.addLayer({
'id': 'parks',
'type': 'symbol',
'source': 'parks', // reference the data source
layout: {
	'icon-image': 'park-11',
	'icon-allow-overlap': true
},
paint: { }
});

var schools={{s|tojson}};

schoolsincomm=turf.pointsWithinPolygon(schools[0], bound[0])

map.addSource('schools', {
'type': 'geojson',
'data': schoolsincomm
});

// Add a new layer to visualize the symbol.
map.addLayer({
'id': 'schools',
'type': 'symbol',
'source': 'schools', // reference the data source
layout: {
	'icon-image': 'college-11',
	'icon-allow-overlap': true
},
paint: { }
});



map.on('click', 'schools', function (e) {
var coordinates = e.features[0].geometry.coordinates.slice();
var description = e.features[0].properties.name_ab;


while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
}

new mapboxgl.Popup()
.setLngLat(coordinates)
.setHTML(description)
.addTo(map);
});

map.on('mouseenter', 'schools', function () {
map.getCanvas().style.cursor = 'pointer';
});


map.on('mouseleave', 'schools', function () {
map.getCanvas().style.cursor = '';
});


	});
</script>

	<!-- Creating a break in the page -->
	<table class="mx-auto w-auto" style="height: 50px;">
	</table>


	<div style="text-align:center">
		<h6><b> Map Legend Details</b></h6>
	</div>



	<!-- Mock up Legend -->
		<!-- Images below linked from Icon in Mapbox GL Styles -->
		<!-- Link for more symbols: https://github.com/mapbox/mapbox-gl-styles -->

		<div class="container w-50" style="text-align:center">
		<div class="border border-info shadow rounded h-100 w-90">
		<table class="table table-bordered table-striped">
		  <thead class="active">
		    <tr>
		      <th scope="col">Symbol</th>
		      <th scope="col">Meaning</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">
			<img src="https://camo.githubusercontent.com/f2889eadada094c8c47a469ef3dd08290fa75c069ca3bb900bd2be3a9d4c778e/68747470733a2f2f63646e2e7261776769742e636f6d2f6d6170626f782f6d6170626f782d676c2d7374796c65732f6d61737465722f737072697465732f6272696768742d76392f5f7376672f636f6c6c6567652d31352e737667" width="30%">
		      </th>
		      <td>Schools Within Community</td>
		    </tr>
		    <tr>
		      <th scope="row">
			<img src="https://camo.githubusercontent.com/3ced548396ac9791afd482f524d7a4b348dc616a2c7230b70b0b497dd5094c72/68747470733a2f2f63646e2e7261776769742e636f6d2f6d6170626f782f6d6170626f782d676c2d7374796c65732f6d61737465722f737072697465732f6272696768742d76392f5f7376672f7061726b2d31352e737667" width="30%">
			</th>
		    <td>City Maintained Park Locations</td>
		    </tr>
		    <tr>
		      <th scope="row">
			<img src="https://camo.githubusercontent.com/e9581daa5654d13d9ceee13b2d9ee8885a2d73d93e7a065234e2c53d5f1aff3f/68747470733a2f2f63646e2e7261776769742e636f6d2f6d6170626f782f6d6170626f782d676c2d7374796c65732f6d61737465722f737072697465732f6272696768742d76392f5f7376672f666972652d73746174696f6e2d31352e737667" width="30%">
			</th>
			 <td>Nearest Fire Station</td>
		    </tr>
				<tr>
		      <th scope="row">
			<img src="https://camo.githubusercontent.com/37d12558de83101eea4133135aeaf8dbf8f7503021fcf1394ab6cf0e4c730b3d/68747470733a2f2f63646e2e7261776769742e636f6d2f6d6170626f782f6d6170626f782d676c2d7374796c65732f6d61737465722f737072697465732f6272696768742d76392f5f7376672f706f6c6963652d31352e737667" width="30%">
			</th>
			 <td>Nearest Police Station</td>
		    </tr>
				<tr>
		      <th scope="row">
			<img src="https://camo.githubusercontent.com/85f98092dd62f9fab49aa1d6000e3cc79f16b2d4409bf0dfcbc0c4246a031ace/68747470733a2f2f63646e2e7261776769742e636f6d2f6d6170626f782f6d6170626f782d676c2d7374796c65732f6d61737465722f737072697465732f6272696768742d76392f5f7376672f686f73706974616c2d31352e737667" width="30%">
			</th>
			 <td>Nearest EMS Station</td>
		    </tr>
				<tr>
		      <th scope="row">
			<img src="https://camo.githubusercontent.com/588b47777d62c3778bb14e12cae4868f999a93b49db1547789e8d49d28ab8cf5/68747470733a2f2f63646e2e7261776769742e636f6d2f6d6170626f782f6d6170626f782d676c2d7374796c65732f6d61737465722f737072697465732f6272696768742d76392f5f7376672f646f63746f722d31352e737667" width="30%">
			</th>
			 <td>Nearest Hospital</td>
		    </tr>
		  </tbody>
		</table>
		</div>
	</div>






	<!-- ******* End Map Information (Closing Style Buttons Below) ******* -->

	<hr>

	<!-- Creating a break in the page -->
	<table class="mx-auto w-auto" style="height: 50px;">
	</table>

	<div class="container">
	<div class="row justify-content-md-center">
	    <div class="col-md-auto">
		<div class="border border-info shadow rounded h-100">
	       <div class="alert alert-secondary h-100" role="alert">
		<div style="text-align:center">
                        <p class="font-weight-bold">Refresh The Map?</p>
			<p>Click here to Refresh Page</p>
			<form action = "{{url_for('calgarycommunityhousingmap') }}" method="post">
				<div>
				<button> Refresh map! </button>
				</div>
			</form>
		</div>
		</div>
		</div>
  	  </div>
	<div class="row justify-content-md-center">
	    <div class="col-md-auto">
		<div class="border border-info shadow rounded h-100">
	       <div class="alert alert-secondary h-100" role="alert">
		<div style="text-align:center">
                        <p class="font-weight-bold">Would you like to return to the home page?</p>
			<p>Click here to Return Home</p>
			<form action = "{{url_for('index') }}" >
				<div>
				<button> Return to Home! </button>
				</div>
			</form>
		</div>
		</div>
		</div>
  	  </div>
   	 <div class="col-md-auto">
	<div class="border border-info shadow rounded h-100">
    	  <div class="alert alert-secondary h-100" role="alert">
		<div style="text-align:center">
                       <p class="font-weight-bold">Log-out of your account?</p>
			<p>Click here to Log-Out!</p>
			<form action = "{{url_for('logout') }}" method="post">
				<div>
				<button> Log-Out! </button>
				</div>
			</form>
		</div>
		</div>
                </div>
    		</div>
  	</div>
	</div>


	<!-- Creating a break in the page -->
	<table class="mx-auto w-auto" style="height: 50px;">
	</table>

	<hr>

	<div style="text-align:center">
	<div class="font-italic">
		You are currently signed in under the username <span class="font-weight-bold"><u> {{username}} </u></span>
	</div>
	<!-- Creating a break in the page -->
	<table class="mx-auto w-auto" style="height: 20px;">
	</table>

	<a href="#TopOfPage" class="text-secondary">Click to Return to Top of Webpage</a>
	</div>


</body>

</html>
